@import url(https://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
body{
  font-family: Roboto, serif;
  background-color: rgb(230,230,230);
}
.mainContainer{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "header header"
    "aside maincontent";
  height: 100vh;
}
.asideArea{
  grid-area: aside;

}
.header{
  display: grid;
  grid-area: header;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
  "logo navbar navbar"
  "logo searchbar searchbar";
}
.logoArea{
  grid-area: logo;
}
.navBarArea{
  grid-area: navbar;
}
.searchBarArea{
  grid-area: searchbar;
}
.contentArea{
  grid-area: maincontent;
}

@media(max-width: 600px){
  .mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
      "header"
      "maincontent"
      "aside";
    height: 100vh;
  }

  .header{
    grid-template-rows: 6fr 6fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "logo navbar"
    "searchbar searchbar";
  }
}
